In [1]:

%load_ext autoreload
%autoreload 2
import _pathmagic
import pandas as pd
# from acanogan import acanogan_model,acanogan_predict, acanogan_test
from sklearn import metrics
import matplotlib.pyplot as plt
# import scikitplot as skplt
%matplotlib inline

In [7]:
normal_score=pd.read_csv("../output/experiments/score/5032AB_test_normal_w=0.1.csv",header=None,index_col=0,names=["score"])
anomaly_score=pd.read_csv("../output/experiments/score/5032AB_test_anomaly_w=0.1.csv",header=None,index_col=0,names=["score"])

In [9]:
sort_normal=normal_score.sort_values("score")
sort_anomaly=anomaly_score.sort_values("score")

In [10]:
sort_normal

              score
20.08.09   0.270616
20.08.06   0.307974
20.05.03   0.333376
20.04.28   0.372728
20.07.18   0.403967
...             ...
20.06.29   6.503092
20.08.24   7.247723
20.08.28   8.045061
20.08.01   9.826618
20.07.13  12.902612

[77 rows x 1 columns]